@import "Normalize Css 1.0.min.css";
@import "animate.min.css";
$mainWidth:1140px;
$mainColor:#25b2e9;
$titleColor:#667d86;
$borderColor:#e5e5e5;
body{ font-family: 'Microsoft YaHei'}
a{ text-decoration: none;}

// ----------header start------------------
.header{ height:141px; width:$mainWidth; margin:0 auto; 
	a.phoneMenu{ display: none; width: 35px; height: 35px; float: right; margin-top: 25px;
		img{ width: 100%; height: 100%;}
	}
	a.logo{ width: 217px; height: 96px; display: block; float: left; padding-top: 24px}
	div.loginBtn{ float: right;width:30px; height:56px; display: block; margin-top: 85px;cursor: pointer; position: relative;
		div.loginDown{ display: none; position: absolute; z-index: 998; left: -16px; top: 56px;
			a{ display: block; width: 64px; height: 44px; line-height: 44px; color: #Fff; font-size: 18px; text-align: center; background: $mainColor;}
			a:hover{ background: #009ad7;}	
		}
		div.loginDownShow{ display: block;}
	}

	div.loginBtnHover{
		background: url(../images/loginHover.jpg) no-repeat center 38px;
	}

	ul.nav{float: right; padding-top: 45px; padding-right: 10px; margin-bottom: 0; position: relative; z-index: 998;
		    -webkit-transform: translate3d(0px, 0, 0);
			li.menuItem{ float: left; width: 110px; height: 80px; list-style-type: none;position: relative;
				a.menuA{ display: block; width: 110px; height: 80px; line-height: 80px; text-align: center; color: $mainColor;
				}	
				a.active,a:hover{ background: $mainColor; color: #fff;}
				ul{ position: absolute; margin: 0; padding: 0; display: none;
					li{ list-style-type: none; line-height: 44px;position: relative;
						a.menuB{width: 110px; height: 44px; display: block; text-align: center; background: #24b1e9; border-bottom: 1px solid #45bef2; color: #fff;}
						a.menuB:hover{ background: #009ad7;}
						a.act{ background: #009ad7;}
						div{ width: 220px; position: absolute; left: 110px; top: 0; display: none;
							a{ width: 220px; height: 44px; display:block; background: #24b1e9; border-bottom: 1px solid #45bef2; color: #fff; text-align: center;}
							a:hover{ background: #009ad7}
						}
					 }
				}
				ul.gl{
					a.menuB{width: 220px; word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
				}

			  } 
	}	
}
.phoneMenumain{ display:none;}
// ----------header End------------------

// ----------banner start------------------
.swiper-container1{ background: #f5f7f9; }
.swiper-slide{height: 480px; background-repeat: no-repeat; background-position:top center;
	a{ display: block; width: 100%; height: 100%;}
}
.swiper-container{ width: 100%; height: 480px; text-align: center;}
.pagination{position: absolute; left: 0;text-align: center; bottom:35px;width: 100%;
	.swiper-pagination-switch {
	  display: inline-block;
	  width: 15px;
	  height: 15px;
	  border-radius: 10px;
	  background: #68b0e6;
	  margin: 0 8px;
	  cursor: pointer;
	}
	.swiper-active-switch {background: #fff;}
}
// ----------banner End------------------

// ----------首页切换面板 start------------------
.indexPage{
	width: $mainWidth; margin:0 auto;
	.indexTop{padding-top: 53px; width: 100%; padding-bottom: 57px; font-size: 24px; line-height: 30px; overflow: hidden;
		border-bottom:1px solid $borderColor;
		a{ color: $mainColor}
		img{ vertical-align: sub; margin-right: 10px;}
		a.tel{ float: left;}
		a.Consultation{ float: right;}
	}
}

.indexPageTab{
	height: 401px; padding: 59px 0 61px 0; overflow: hidden;
	.left,.right{ width: 374px; height: 401px; float: left;}
	.left a,.right a{ display: block; width: 100%; height: 200px; color: $titleColor; text-align: center; border-bottom: 1px solid $borderColor;}
	.center{ width: 389px; height: 401px; text-align: center; font-size: 36px; font-weight: bold;  border-right:1px solid $borderColor;   border-left:1px solid $borderColor; float: left;}
	.center a{ display: block; padding-top: 120px; color: $titleColor;}
	.center a:hover{ color: #fff; background: #25b2e9; height: 281px;}
	.left a img.hover,.right a img.hover{ display: none;}
	.left a img,.right a img{display: inline}
	.left a:hover,.right a:hover{ background: #25b2e9; color: #fff;}
	.left a:hover img,.right a:hover img{ display: none;}
	.left a:hover img.hover,.right a:hover img.hover{ display: inline;}
	.left a span b,.right a span b{ font-size: 30px; font-weight: bold; padding-right: 10px;}
	.left a span,.right a span{ font-size: 18px; line-height: 18px;}
	.br{ line-height: 10px;}
}

// ----------首页切换面板 End------------------


// ----------首页 AD start------------------
.adPanel{ width: 100%; 
	.adPanelMain{ width:1280px; margin:0 auto; height: 439px; overflow:hidden;}
	.left,.right{ width: 640px; height: 439px; float: left;}
	.left{ position: relative}
	.left a{ display: block; width: 100%; height: 100%; position: relative; color: #fff;
			img{ width: 100%; height: 100%;} 
		span{ position: absolute; top: 234px; left:0; text-align: center; width: 100%; font-size: 18px;}
		b{ font-size: 36px; font-weight: bold; line-height: 60px}
	}
	.right{ background: $mainColor; text-align: center;
		div.all{
			a{ color: #fff; font-size: 18px; line-height: 47px; display:block; float:left; width:30%; padding-left:15%; text-align:left;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}	  
		}
		a.title{font-size: 36px;  display: block;  color: #fff; font-weight: bold; line-height: 60px; padding: 48px 0 20px 0}

	}
	.left a:hover,.right a:hover{ text-decoration: underline;}
}
// ----------首页 AD End------------------

// ----------首页comment start------------------
.commentsPanel{ padding-top: 60px;width: $mainWidth; margin: 0 auto;
	.title{font-size: 36px; font-weight: bold; color: $titleColor; text-align: center; padding-bottom: 40px }
	ul{ margin: 0; padding: 0; overflow: hidden;}
	li.left{ padding-right: 38px;}
	li.right{padding-left: 37px;}
	li{ list-style-type: none; float: left; width: 355px; padding-bottom: 50px; display: inline;
		.commentsTop{ overflow: hidden;
			img{ float: left; margin-right: 17px;}
			b{ display: block; color: #323232; padding-top: 10px;}
			span{ color: #808080;}
		}
		.commentsText{ width: 308px;   font-size: 14px; margin-top: 20px; line-height: 20px; padding: 22px; color: #646464; background: #fafafa; position: relative;
			img{ position: absolute; top: -10px; left: 20px}
			p{  margin: 0; padding: 0; height: 100px; min-height:100px;overflow: hidden;}
		}
	}
	li.clear{ height: 0; padding: 0; margin: 0; clear: both;}

}
// ----------首页comment End------------------

// ----------首页合作伙伴 start------------------
.cooperationPanel{width: $mainWidth; margin: 0 auto; padding-bottom: 72px;
	.title{font-size: 36px; font-weight: bold; color: $titleColor; text-align: center; line-height: 60px; padding-top: 20px;  }
	.cooperationBtn{ overflow: hidden; border-bottom: 1px solid $borderColor; padding-bottom: 14px;
		a{ display: block; float: right; width: 18px; height: 18px; }
		a.left{ background: url(../images/indexBtn.gif) left top;}
		a.right{background: url(../images/indexBtn.gif) right top; margin-left: 4px}
	}
	.cooperationMain{ position: relative; padding-top: 40px; overflow: hidden;height: 88px;
		ul{ margin: 0; padding: 0; position: absolute; width: 20000px; height: 88px; left:0;}
		li{ float: left; list-style-type: none; width: $mainWidth;  height: 88px; text-align: center;}

	}
}
// ----------首页合作伙伴 End------------------

// ----------footer start------------------
.footer{ border:1px solid $borderColor; border-left:none; border-right:0px; width:100%; margin-bottom: 66px;
	.footerMain{ width: $mainWidth; margin:0 auto; overflow: hidden;
		.left{ padding-top: 45px; padding-bottom: 71px; float: left;}
		.center{ float: left; padding-left: 146px; border-right: 1px solid $borderColor; margin-top: 32px; padding-bottom: 20px; padding-right: 160px;
			.title{ font-size: 24px; color: $titleColor;  padding-bottom: 26px;}
			a{ font-size: 18px; font-weight: bold; color: $titleColor; line-height: 40px; display: block;
				img{ vertical-align: bottom; margin-right: 10px;}
			}
			a.mail{ margin-top: 15px;}
		}
		.right{ float: right;
			.top{ text-align: right; position: relative;
				a{
					img.int{ }
				    img.hover{ display: none;}
				}
				div{ position: absolute; width: 120px; height: 120px; top: 0; right: 111px; display: none;
				}

			}
			.bottom{  padding-top: 30px;padding-bottom: 18px;
				a{ font-size: 18px; color: $titleColor; line-height: 30px;
				    img{ vertical-align: bottom;}

				}
			}
		}
		.phoneFooter{width: 90%;  margin: 0 auto; padding-top: 20px; display: none;
			div{
				width: 94px; font-size: 12px; color: #fff;text-align: center;
				img{ width: 100%; margin-bottom: 5px;}
			}
			a{ display: inline; border: none; margin-right: 6px; margin-top: 10px;}
		}
		a img.phone_icon{ display: none;}
	} 
}
// ----------footer End------------------

// ----------弹出框 start------------------
#mark{ width:100%; height:100%; background:#000; z-index: 999; display: none; opacity:0.5; filter:alpha(opacity=50);; position: fixed; top: 0; left: 0;}
.winBox{display: none; width: 570px; height:420px; background:#fff; position: fixed; z-index: 1000;
		a.winClosBtn{ display: block; width:16px;height:16px; position: absolute;right:20px; top:20px; background: url(../images/winClosBtn.png);}
		.winTitle,.winMain{ width:430px; margin:0 auto;}
		.winTitle{ overflow: hidden; border-bottom:1px solid #dedede; padding-top:20px;
			h3{ font-weight: normal; float:left; font-size: 22px;}
		}
		.winMain{
			.text{ width: 335px; color:#b2b2b2; padding-left:10px; height: 36px; float:left; border:1px solid #dcdcdc;}
			.text2{ width: 168px; color:#b2b2b2; padding-left:10px; height: 36px; float:left; border:1px solid #dcdcdc;}
			.yzm{  border:1px solid #dcdcdc; margin-left: 10px; float: left;}
			a.yzmBtn{ font-family: 'st'; color: #3f66c3;line-height: 36px; padding-left: 10px;}
			p{ overflow: hidden;}
			span.textWb{ display: block; float:left; width: 71px;  padding-right:11px; line-height: 36px; text-align:right;}
			.p_right{ display: block; width: 349px;float: right;
				span{ float:left; font-family: 'st'; color: #808080;
					input{ margin-right:5px; vertical-align:middle;}
				}
				a{float:right; font-family: 'st'; color:#3f66c3;}
			}
			p.winBtn{ clear:both;display: block; width: 349px;float: right;
					input{ border: none; width:349px; height:50px; line-height: 50px; color: #fff;background: #68b0e6; border-radius: 4px; font-size: 18px; font-family: 'Microsoft YaHei';}
			}
			p.p_text{ clear:both;display: block; width: 349px;float: right; font-family: 'st'; color: #3f66c3; text-align: right;}
		}
}
// ----------弹出框 End------------------

// ----------index Tab start------------------
.navcation{ width: $mainWidth; margin:0 auto; line-height: 98px; height:98px;overflow: hidden;
	border: 1px solid $borderColor;
	border-right:none;border-left:none;
	.left{ float: left; font-size: 24px; color: $titleColor; 
		img{vertical-align: middle; margin-right:5px;}
	}
	.right{float:right; font-size: 18px;
		color: $mainColor;
		a,i{color: $titleColor;}
		a.after{color: $mainColor;}

	}
}
.indexTab{
	border-bottom: 1px solid $mainColor;
	.indexTabMain{ width:$mainWidth; margin:0 auto;
		p{ text-align: center; font-size: 36px; color: $mainColor;}
	}
	.indexTabBtn{ height: 180px; width: 190*4-40px; margin:0 auto; 
		a{display: block;width: 150px; height: 180px; float: left; margin-right:40px;
			img.hover{ display: none;}
		}
		a.last{ margin-right: 0px;}
		a:hover img,a.active img{ display: none;}
		a:hover img.hover,a.active img.hover{ display: inline-block;}
	}
}
.indexTabBox{width: 190*4-40px; margin:0 auto;
	.indexTabBm{ display: none;}
	h3{ font-size: 30px; margin-bottom: 15px; color: $mainColor; line-height: 87px;}
	ul.indexTab1{ margin:0; padding: 0;
		li{list-style-type: none; font-size: 20px;  line-height: 82px;
			i{ display:block; width: 40px; height: 40px;background-image: url(../images/tabPageicon.jpg); float: left;    margin-top: 19px;
    margin-right: 16px;}
			i.icon1{ background-position:-20px -20px;}
			i.icon2{ background-position:-20px -101px;}
			i.icon3{ background-position:-20px -182px;}
			i.icon4{ background-position:-20px -263px;}
			i.icon5{ background-position:-20px -344px;}
			i.icon6{ background-position:-20px -344px;}
			i.icon7{ background-position:-20px -425px;}
			i.icon8{ background-position:-20px -506px;}
			i.icon9{ background-position:-20px -587px;}
			a{ color: $titleColor;}
		}
	}
	a.yyBtn{color: $mainColor; display: block; width: 174px;  height: 42px; line-height: 42px; margin:0 auto; margin-bottom: 105px;  margin-top: 39px; text-align: center; font-size: 24px; background: url(../images/tabPagebtn.jpg);}
	ul.indexTab2{ margin: 0; padding: 0;
		li{ list-style-type: none; border-bottom: 1px dotted #d6d6d6; padding-top: 40px;
			div.indexText{ font-size: 16px;padding-top: 10px; line-height: 24px; color: $titleColor; padding-bottom: 40px;}
			.indexTabT{ overflow: hidden;
				img{ float: left; margin-right: 20px;}
				div{ 
					span{ color: #323232; font-size: 18px;}
					p{ color: #808080; line-height: 20px; font-size: 14px; margin-top: 10px;}
				}
			}
		}
		li.last{ border-bottom: none;}
		li.fist{ padding-top: 0;}
	}
	ul.indexTab3{ margin: 0; padding: 0;
		li{ list-style-type: none;
			div.titlebox{ overflow: hidden;
				img{ float: left; }
			}

			div.title{margin-top: 36px;margin-left: 10px; line-height: 45px; font-size: 24px; color: $mainColor; font-weight: bold; border-bottom: 4px solid $mainColor;}
			p{font-size: 16px; color: $titleColor;
				b{ font-size: 20px; line-height: 40px; color: $mainColor; font-weight: normal; display: block;}
			}
			p.img{ text-align: center;text-indent: 0em; padding-bottom: 32px; padding-top: 20px;
				img{ width: 100%;}
			}
		}
	}
	h2{ font-weight: normal; font-size: 24px; color: $mainColor;}
	p.img{ text-align: center; padding-bottom: 32px; padding-top: 20px;text-indent: 0em;
		img{ width: 100%;}
	}	
}


// ----------index Tab End------------------


// ----------关于我们 start------------------
.info{ width: $mainWidth; margin: 0 auto; padding-top: 55px; overflow: hidden;
	.infoLeft{ float: left; width: 165px;
		ul{padding: 0px; margin: 0px; top:-200px;
			transition: all 0.5s;
			-moz-transition: all 0.5s; /* Firefox 4 */
			-webkit-transition: all 0.5s; /* Safari and Chrome */
			-o-transition: all 0.5s; /* Opera */
			li{ list-style-type: none;
				a{ display: block;  width: 165-11px; padding-left: 11px; height: 32px; line-height: 32px; color: $mainColor;
					word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
				}
				span{ display: none; border-bottom: 1px solid #fff;}
				span.show{ display:block;}
				a.leftMenu{background: $mainColor; color: #fff; border-bottom: 1px solid #fff;}
				a:hover,a.active{ background: $mainColor; color: #fff;}
				a.active2,a.leftMenu:hover{ background: #5b91ce;}
				span a.active,span a:hover{ background: #e1effa; color: $mainColor;}
			}
		}
		ul.leftMenufixed{
			position: fixed; top:0px;
			transition: all 0.5s;
			-moz-transition: all 0.5s; /* Firefox 4 */
			-webkit-transition: all 0.5s; /* Safari and Chrome */
			-o-transition: all 0.5s; /* Opera */
		}
	}
	.infoRight{ float: right; width: 946px;
			.infoBanner{ 
				img{ width: 100%;}
			}
			.infoBanner2{width:780px; 
				img{ width: 100%;}
			}
			.infoMap{
				h3{ float:left; font-size:30px; color:$mainColor; margin-top:0px;line-height: 30px;}
			}
			.infoTel{ font-size: 24px; text-align: right; padding-top: 19px; 
				a{ color: $mainColor; line-height: 30px;
					img{ vertical-align: sub; margin-right: 10px; margin-left: 59px;}

				}
				a:nth-child(1) img{ margin-left: 0px;}
			}
			.infoMap{
				.infoTel{padding-top: 0px; }
			}
			.infoText{ padding-top: 0px; padding-bottom: 79px;
				h3{ font-size: 28px; color: $mainColor; margin-bottom: 25px;}
				p{ font-size: 18px; line-height: 30px; color: $titleColor;}
				a.mail{ display:inline-block; padding-left: 5px;padding-right: 10px; border-radius: 4px; width: auto; height: 40px; line-height: 40px; background: $mainColor; font-size: 18px; color: #fff;
					img{ vertical-align: middle; float: left; margin-top: 3px;}
				}
			}
			ul.video{padding:0px; margin:0px; overflow: hidden;
				li{ list-style-type: none; width: 450px; height: 300px; position: relative; float: left; margin-bottom: 40px; 
					a{
						display: block; width: 100%; height: 100%;
						span.bg{ width: 450px; height: 70px; background: #000; opacity:0.4; filter:alpha(opacity=40); position: absolute; bottom: 0; left: 0;}
						span.text{width: 450px; height: 70px;position: absolute; bottom: 0; left: 0; font-size: 14px; color: #fff;
							b{ font-size: 18px; font-weight: normal; display: block; padding-top: 15px;} 
							img{ float: left; margin-left: 10px; margin-top: 11px; margin-right: 9px;}
						}
					}
				}
				li.left{ margin-right:46px;}
			}
			div.page{padding:0px; margin:0px; overflow: hidden; padding: 10px 0 100px; text-align: center;
				a{ display: inline-block; width: 30px; height: 31px; margin-right: 6px;  background: url(../images/pageBtnBG.jpg); line-height: 31px; text-align:center; color: #000;}
				a.active,a:hover{ background: url(../images/pageBtnBGhOVER.jpg); color: #fff;}
			}
			ul.Activity{padding:0px; margin:0px; padding-bottom: 30px; width: 750px;
				li{list-style-type: none; padding-bottom: 48px; border-bottom: 1px dashed #cccccc; padding-top: 34px;
					a.title{ display: inline-block; font-size: 20px; color: #333333}
					span.time{ display: block; color: #b2b2b2; font-size: 14px; line-height: 30px;}
					a.imgText{ font-size: 14px; color: $titleColor; display: block;  padding-top: 10px;
						line-height: 22px; padding-bottom: 14px;
						img{ margin-bottom: 15px}
					}
				}
				li.fist{ padding-top: 0px;}
			}
			div.infop{ width: 780px; 
				h4{ font-size: 33px; text-align: center; color: $titleColor;}
				h4.h42{margin-bottom: 26px}
				h5{ font-size: 24px; color: $titleColor;}
				h5.h52{ margin-bottom: 20px;}
				h5.fist{ margin-top: 14px;}
				p{ font-size: 18px; text-indent: 2em;}
				p.noPX{text-indent: 0em;}
				p.fwlc{ font-size: 24px; color: $mainColor; padding: 20px 0;
					img{ display: block; margin: 0 auto;}
					span{ font-size: 18px; color: $titleColor; line-height: 30px; display: inline-block; padding: 25px 0; padding-bottom: 30px;}
				}
				p.img_title{
					span{ display: block; color: $mainColor; line-height: 45px;}

				}
				p.last{ border-bottom: 1px solid #b8bed0; padding-bottom: 32px;}
				a.yyBtn{ display: block; width: 174px; height: 42px; line-height: 42px; margin: 0 auto; margin-top: 40px; font-size:24px; text-align: center; color: $mainColor;    background: url(../images/tabPagebtn.jpg); }
				a.yyBtn:hover{background: url(../images/tabPagebtn_hover.jpg); color:#fff;}
				p.img{ text-align: center; margin-top: 28px;text-indent: 0em;
					img{ width: 100%;}
				}
				p.img2{text-align: center; margin-top: 28px; margin-bottom: 35px;text-indent: 0em;}
				p.fwlc{ border-top: 1px solid #b8bed0;border-bottom: 1px solid #b8bed0;}
				ul.infoList{padding:0px; margin:0px; padding-bottom: 15px; background:url(../images/infoListIcon3.jpg) no-repeat 46px bottom;
					li{list-style-type: none;
						a{ display: block; line-height: 34px; min-height: 86px; padding-bottom:10px ; font-size: 18px;color: $titleColor; overflow: hidden;
							background:url(../images/listBG.jpg) repeat-y 53px 0px;
							span.liMuber{ display: block; color: #565656; font-size: 25.65px; float: left;}
							img{display: inline-block; margin-left: 12px; border-top:4px solid #fff;border-bottom:4px solid #fff; margin-right: 16px; vertical-align: top; float: left;}
							span.liText{ display: block; float: left; width: 685px}

						}
					}
					li.last a{ min-height:auto; padding-bottom: 0px; }
					li.last2 a{min-height:auto; padding-bottom: 20px;}
				}
			}
			.tabObjTitle{
				a{ display: inline-block; width:132px; height: 38px; font-weight: bold; margin-right: 33px; line-height: 38px; text-align: center; background: url(../images/tabObjTitlebg.jpg); color: #fff; }
				a.active{ background: url(../images/tabObjTitlebghover.jpg);}
			}
			.tabObjMain{
				div.tabObjItem{ display: none;}
			}
			
	}


	div.infoTitle{
		h3{ font-size: 24px; color: #333;margin: 0; line-height: 40px;}
		span{ font-size:18px; color: #b2b2b2;}
	}
	div.infoBlock{ width: 750px; padding-bottom: 87px;
		p{ font-size: 16px; line-height: 26px; color: #667d86;}
		p.clearLin{
			margin-bottom: 35px;
		}
	}
	a.toTop{text-decoration: underline; font-size: 24px; color: #646464;}
}
// ----------关于我们 End------------------

// ----------悬浮按钮 Start------------------
.gotopButton{
    position: fixed;
    display: none;
    width: 60px;
    left: 50%;
    margin-left: 685px;
    bottom: 85px;
    _top: expression(eval(document.documentElement.scrollTop || document.body.scrollTop) +eval(document.documentElement.clientHeight || document.body.clientHeight) -305+'px');
    z-index: 998;
    width: 40px;
    height: 40px; 
    background: url(../images/goTotopBtn.png);
}
.show{ display: block;}
// ----------悬浮按钮 End------------------

@media (max-width:1300px){
	.adPanel{
		.adPanelMain{ width: 100%;
			.left{ width: 50%;}
			.right{ width: 50%;} 
		}
	}
}
@media (max-width:1160px) {
	.header,.indexPage,.commentsPanel,.cooperationPanel,.footer .footerMain,.cooperationPanel .cooperationMain li{ width: 100%;}
	.indexPageTab .left, .indexPageTab .right, .indexPageTab .center{width: 33.2%}
	.commentsPanel li,.commentsPanel li.left,.commentsPanel li.right{ width: 29%; padding-right:2%; padding-left: 2%;}
	.commentsPanel li .commentsText { width: auto;}
	.indexPage .indexTop{ width: 90%; margin: 0 auto;}
	.header{ width: 90%; margin: 0 auto;}
	.footer .footerMain .center{ padding-left:10%; padding-right: 5%; }
	.header ul.nav li.menuItem,.header ul.nav li a.menuA,.header ul.nav li.menuItem a.menuA,.header ul.nav li.menuItem ul li a.menuB{ width: 100px}
	.header ul.nav li.menuItem ul li div{ left: 100px;}
	.navcation{ width: 90%; margin: 0 auto;}
	.indexTab .indexTabMain{ width: 100%;}
	.info{ width: 90%; margin:0 auto; padding-top: 15px;}
	.info .infoRight,.info .infoLeft{ width: 100%; }
	.info .infoLeft ul li{ float: left; width: 20%; padding-bottom: 15px;}
	.info .infoLeft ul li a{ padding: 0; text-align: left; width: auto; padding-left: 10px;}
	.info .infoRight ul.video li{ float: right; width: 49%; height: auto;
		a img.img{ width: 100%;}
		b{word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
	}
	.info .infoRight ul.video li a span.text,.info .infoRight ul.video li a span.bg{width: 100%;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
	.info .infoRight ul.video li.left{ float: left; margin-right: 0px;}
	.info .infoLeft ul.leftMenufixed{ position: relative}
	.info .infoRight div.infop,.info .infoRight .infoBanner2{ width:100%}
	.info .infoLeft ul li span.show{ display:block;background:#f9f9f9; display: none;}
	// .info .infoLeft ul li span.show{ width: 500%; display:block; background:#f9f9f9}
	// .info .infoLeft ul li:nth-child(2) span.show{ margin-left:-100% }
	// .info .infoLeft ul li:nth-child(3) span.show{ margin-left:-200% }
	// .info .infoLeft ul li:nth-child(4) span.show{ margin-left:-300% }
	// .info .infoLeft ul li:nth-child(5) span.show{ margin-left:-400% }
	// .info .infoLeft ul li:nth-last-child(1){ clear: both;}
}

@media (max-width:1120px) {
	.header div.loginBtn{ display:none}
	.header ul.nav{ padding-right: 0px;}
}
@media (max-width:978px) {
	.header ul.nav li.menuItem,.header ul.nav li a.menuA,.header ul.nav li.menuItem a.menuA,.header ul.nav li.menuItem ul li a.menuB{ width: 80px}
	.header ul.nav li.menuItem ul li div{ left: 80px;}
	.adPanel .right a.title,.adPanel .left a b{ font-size: 25px;}
	.info .infoRight .infoMap .infoTel,.header div.loginBtn{ display:none}
	.footer .footerMain .right .bottom{ padding-top: 0}
}
@media (max-width:948px) {
	.footerMain{ background: #3a3a3a; padding-bottom: 10px;}
	.footer .footerMain .left{ display: none;}
	.footer .footerMain .center{ float: none; width: 90%; margin: 0 auto; padding: 0; border:none;}
	.footer .footerMain .right{ float: none; width: 90%;margin: 0 auto; text-align: left; padding: 0;   }
	.footer .footerMain .right .bottom a{line-height: 40px; }
	.footer .footerMain .right .top{ display: none;}
	.footer .footerMain .center .title{padding-bottom: 5px; line-height:40px; border-bottom: 1px dotted #5b5b5b; color: #fff; padding-top: 10px; font-size:18px }
	.footerMain a{ border-bottom: 1px dotted #5b5b5b; padding: 0px 0; margin: 0; color: #fff;  display: block;}
	.footer .footerMain .center a.mail{ margin-top: 0}
	.footer .footerMain .right .bottom a img{ margin-right: 10px;}
	.footer{ margin-bottom: 0; border:none;}
	.footer .footerMain .phoneFooter{ display:block;}
	.footer .footerMain .center a,.footer .footerMain .right .bottom a{ color: #fff; font-size:12px;}
	.footer .footerMain a img.phone_icon{ display: inline;  vertical-align: middle;  }
	.footer .footerMain a img.footerPc{ display: none;  width: 15px; vertical-align: middle;}
	.footer .footerMain a img,.footer .footerMain .right .bottom a img{width: 15px; vertical-align: middle;}
	.footer .footerMain .phoneFooter a img{ width:30px; }
	.footer .footerMain .phoneFooter{ padding-top:10px; display: none;}
	.cooperationPanel .cooperationMain{ padding:20px 0;}
} 
@media (max-width:935px){
	/*.cooperationMain img{ width: 50%}*/
	.cooperationPanel{ padding-bottom: 0px;}
}
@media (max-width:874px) {
	.indexPageTab .center{ display: none;}
	.indexPageTab .left, .indexPageTab .right{ width: 50%;  }
	.indexPageTab .left a, .indexPageTab .right a{ border-right: 1px solid $borderColor; }
	.indexPage .indexTop{ padding: 20px 0 25px}
	.info .infoRight div.infop ul.infoList li a img{ display:none}
	.info .infoRight div.infop ul.infoList li a {min-height: auto;}
	.info .infoRight div.infop ul.infoList,.info .infoRight div.infop ul.infoList li a{ background: none}
}
@media (max-width:850px) {
	.cooperationMain img{ width: 100%}
	.header div.loginBtn{ display: none;}
	.header ul.nav,.header a.loginBtn{ display: none;}
	.header a.phoneMenu{ display: block;}
	.header{ height:83px;overflow: hidden;}
	.header a.logo,.header a.logo img{height:63px; width:auto;}
	.swiper-container{height:310px;}
	.swiper-slide{ background-size:auto 310px;}
	.header a.logo{ padding-top:10px;}
	.pagination{ bottom:10px}
	.pagination .swiper-pagination-switch{ width:10px; height:10px; margin: 0 4px;}
	.info .infoRight div.infop ul.infoList,.info .infoRight div.infop ul.infoList li a{ background:none}
	.info .infoRight div.infop ul.infoList li a span.liText{ width:auto; display:block; float:none; min-height:auto;}
	.info .infoRight div.infop ul.infoList li a{ min-height:auto;}

	// ----------phoneMenu start------------------
	.menu-open{background:#fff;
		-webkit-transform: translate3d(-238px,0,0);
		-moz-transform:translate3d(-238px,0,0);
	}
	.phoneMenumain{right:-244px; top:0;position: fixed; display:inline;
		-webkit-transform: translate3d(0px,0,0);
		-moz-transform: translate3d(0px,0,0);
		 height:100%; width:241px;
		 overflow-y: auto;
		 background:$mainColor;
		background-size:100% auto;
		.phoneMenuTop{ text-align:center;height:82px;
			background:url(../images/menu_topBG.png) no-repeat;
			background-size:100% auto;
			a{display:inline-block; text-align:center;  margin-top: 26px; line-height:29px; color:#fff; font-size:15px;  width:77px; height:29px; background:#1ba1d7; border-radius:20px 20px 20px 20px;}
			& a:nth-child(1){ margin-right:23px;}
		}
		ul{padding:0; margin:0; 
			li.menuItem{	list-style-type:none; border-bottom:1px solid #fff;
				a.menuA{display:block; font-size:15px; line-height:44px; color:#Fff; padding-left:23px; 
					b{ display:inline-block; float: right; font-size: 18px; margin-right: 20px;}
					b.on{ display: inline-block;}
					b.off{ display: none;}
				}
				div{  padding-bottom: 10px;  display: none;
					a{ display: block; padding-left: 40px; line-height: 27px; font-size: 14px; color: #fff;}
				}
				li{ 
					a.menuB{ display: block; padding-left: 40px; color: #fff;line-height: 28px;
							b{ display: inline-block; font-size: 18px; padding-right: 20px; float: right}
							b.on{ display: inline-block;}
							b.off{ display: none;}
					}
				}
				ul{display: none; margin: 0; padding: 0; padding-bottom: 12px;}
			}
		}
		.phoneMenuBottom{
			padding-top:22px; 
			a{
				display:block;font-size:15px;color:#fff; padding-left:23px; line-height:30px;
				img{ vertical-align: text-bottom; margin-right:5px; width:19px;}
			}
			img.logo{ width:60px; position: absolute; right:20px; bottom:10px; opacity:0.2;}
		}
	}
	.phoneMenuOpen{ 
	-webkit-transform: translate3d(-241px,0,0);
	-moz-transform: translate3d(-241px,0,0);
	}
	// ----------phoneMenu End------------------
}
@media (max-width:788px) {
	.commentsPanel li,.commentsPanel li.left,.commentsPanel li.right{ width: 96%; padding-right:2%; padding-left: 2%;     padding-bottom: 26px;}
	.commentsPanel li .commentsText p{ height: auto;}
	.info .infoRight ul.Activity{ width: 100%;}
	.info .infoRight ul.Activity li a.imgText img{ width: 100%;}
	.info .infoRight div.infoBlock{ width: 100%; padding-bottom: 40px;}
	.info .infoRight div.infoBlock p.infoImg1 img{ width: 100%; height: auto; }

}
@media (max-width:720px) {
	.indexTab .indexTabBtn a{ margin-right: 0; width: 25%;}
	.indexTabBox{ width: 90%;}
	.indexTab .indexTabBtn{ width: 100%; height: auto; overflow: hidden; border-bottom: 3px solid $mainColor;
		a img{ height: auto; width: 100%;}	
		a{height: auto;}
	}
	.info .infoRight .infoText h3{ font-size: 20px;}
	.show{ display: none;}
}
@media (max-width:700px){
	.adPanel{
		.adPanelMain{ width: 100%; height: auto;
			.left{ width: 100%; height: auto;}
			.right{ width: 100%;}
		}
	}
	.adPanel .left a span{ top: 50%}
	.infoTel{ display: none;}
	.info .infoRight .infoText{ padding-top: 0px;}
	.tabObj{ display: none;}
	.info .infoRight div.infop h5.h52{ font-size: 18px;}
	.navcation .left img{ width:120px }
	.navcation .left{ font-size: 20px; display: none;}
	.navcation .right{ float: left;}
	.navcation{line-height: 58px; height: 58px;}
	.info .infoRight div.infop h4{ font-size: 25px;}
}
@media (max-width:670px){
	
}

@media (max-width:600px){
	.cooperationPanel .cooperationBtn a{ display: none;}
	.indexPageTab .left a span, .indexPageTab .right a span{ font-size:12px;}
	.indexPageTab .left a span b, .indexPageTab .right a span b{ font-size:14px;}
	.indexPageTab .left a img, .indexPageTab .right a img{ width:80px;}
	.indexPageTab .left a, .indexPageTab .right a{height: 150px;}
	.indexPageTab,.indexPageTab .left, .indexPageTab .right{ height:auto;}
	.indexPageTab{ padding-top:5px; padding-bottom:0px;}
	.indexPage .indexTop{ padding-top:10px;padding-bottom:10px; font-size:15px;}
	.indexPage .indexTop img{ width:20px; margin-right:5px;}
	.indexPageTab .left a span b, .indexPageTab .right a span b{ padding-right:0px;}
	.adPanel .left a span{ font-size:12px;}
	.adPanel .right a.title{ padding-top:10px; padding-bottom:10px;}
	.adPanel .right{ height:auto; padding-bottom:20px;}
	.cooperationPanel .title,.commentsPanel .title{ font-size:25px}
	.commentsPanel{ padding-top:20px;}
	.commentsPanel .title{ padding-bottom:20px;}
	.info .infoRight ul.video li{ width: 100%; margin-bottom: 15px;}
	.info .infoLeft ul li{ width:33%;}
	.indexTabBox ul.indexTab1 li{ overflow: hidden; line-height: auto; padding-bottom: 10px; line-height: 40px;}
	.indexTabBox ul.indexTab1 li i{ margin-top: 0;}
	.indexTabBox h3{ margin-top: 10px;    line-height: 47px;}
	.indexTab .indexTabMain p{ font-size: 22px;}
	.indexTab .indexTabBtn a img{ width: auto;}
	.indexTab .indexTabBtn a{ text-align: center}
	.indexTab .indexTabBtn a.active,.indexTab .indexTabBtn a:hover{ background: #2da7e6;}
	.indexTab .indexTabMain p{ margin-bottom: 10px;}
}
@media (max-width:600px){
	.indexTabBox p.img{ width: 100%; height: auto;
		img{ width: 100%;}
	}
	.swiper-container{height:226px}
	.swiper-slide{background-size: auto 226px;height:226px}
}
@media (max-width:500px){
	.info .infoRight p.img{
		img{ width:100%;}
	}
	.indexTab .indexTabBtn a{ margin-right: 0; width: 50%;}
	.info .infoLeft ul li{ width: 50%;}
	.adPanel .right a.title, .adPanel .left a b {
	    font-size: 20px;
	}
	.cooperationPanel .cooperationMain{ height:65px; }
}
@media (max-width:400px){
	.swiper-container{height:150px}
	.swiper-slide{background-size: auto 150px;height:150px}
}

@media (max-width:320px){
	.swiper-container{height:126px}
	.swiper-slide{background-size: auto 126px;height:126px}
}

div,li{
transition: all 0.5s;
-moz-transition: all 0.5s; /* Firefox 4 */
-webkit-transition: all 0.5s; /* Safari and Chrome */
-o-transition: all 0.5s; /* Opera */
}